@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


:root{
    --color-dark: hsl(252, 53%, 15%);
    --color-white: hsl(300, 17%, 94%);
    --color-light: hsl(291, 22%, 82%);
    --color-gray: hsl(253, 6%, 28%);
    --color-primary: hsl(278, 61%, 31%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: 18rem;
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark); 
    background: var(--color-light);
    overflow-x: hidden;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
  width: 80%;
  max-width: 600px;
  font-size: 1.5rem;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  margin-right: 20px;
}

.profile-pic img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--color-dark);
}

.profile-info label {
  display: block;
  margin-bottom: 10px;
}

.profile-info input[type="text"],
.profile-info textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover{
    opacity: 0.8;
}
.btn-primary{
    background: var(--color-primary);
    color: white;
}
